{% extends "core/base.html" %}
{% block title %}Logout{% endblock  %}
{% block content %}
<h1 class="mt-4">Login to your account</h1>
    <div class="alert alert-success" role="alert">
        Logged Out Successfully!
    </div>
    Click Here to Login <a class="link-primary" href="{% url 'accounts:login' %}">Login!</a>

    <script>
        // Delay for a few seconds (e.g., 3 seconds) before redirecting
        setTimeout(function() {
            window.location.href = "{% url 'store:home' %}";
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
{% endblock  %}